.toggle-container {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.toggle-container > p {
  padding: 10px;
  font-weight: 700;
  width: 80px;
}

[data-theme='dark'] .toggle-container > p {
  padding: 10px;
  font-weight: 700;
  color: var(--lowContrastText);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggleThumb);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--toggle);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--toggle);
}

[data-theme='dark'] input:checked + .slider {
  background: linear-gradient(to right, var(--toggleBlue), var(--toggleGreen));
}

[data-theme='dark'] input:focus + .slider {
  background: linear-gradient(to right, var(--toggleBlue), var(--toggleGreen));
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .toggle-container {
    justify-content: space-between;
    width: 100%;
  }
}
